<h2>Login</h2>

<div class="login">
  <%=form_for(:session, url: login_path)  do |f| %>

  <%= f.label :email %>
  <%= f.text_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log In" %>
  <% end %>
</div>

<%= link_to "Home", proposals_path %>