<h1>Register</h1>

<%= form_for @user do |f| %>
  <%= f.label :first_name, "First Name:" %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %><br>

  <%= f.label :credentials, "Credentials:" %>
  <%= f.text_field :credentials %><br>

  <%= f.label :email, "Email:" %>
  <%= f.text_field :email %><br>

  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %><br>

  <%= f.submit "Register"%>
<% end %>