<h1><%= @experiment.title %></h1>
<h3><%= @experiment.proposal.title %></h3>


<ol>
  <% @experiment.procedures.each do |procedure| %>
    <li>
      <%= procedure.steps %>
      <%= form_for procedure, url: {action: "update"} do |f| %>
        <label><%= f.check_box :is_completed %>Completed</label>
      <% end %>
    </li>
  <% end %>
</ol>

<%= form_for @experiment do |f| %>
  <%= f.label :results, 'Results:' %><br>
  <%= f.text_area :results, size: "80x5" %><br>

  <%= f.label :conclusion, 'Conclusion:' %><br>
  <%= f.text_area :conclusion, size: "80x5" %><br>

  <%= f.submit %>
<% end %>
