<h1><%= @proposal.title %></h1>

<h4> Status:</h4>

<p> <%= @proposal.status %></p>

<h4> Summary:</h4>

<p> <%= @proposal.summary %> </p>

<h4> Hypothesis:</h4>

<p> <%= @proposal.hypothesis %> </p>

<h4> Experiments:</h4>

<%= render @experiments %>

<% if logged_in? %>
  <p>Make a new experiment <a href="/proposals/<%= @proposal.id %>/experiments/new"> HERE</a>.</p>
<% end %>


<div class="comments">
  <h4> Comments </h4>
  <%= render @comments %>
</div>

<% if logged_in? %>
  <p>Add a comment to this proposal <a href="/proposals/<%= @proposal.id %>/comments/new"> HERE</a>.</p>
<%end %>
