<h3>Proposal: <%= @experiment.proposal.title %></h3>
<h1>Experiment: <%= @experiment.title %></h1>
<h4>By: <%= @experiment.lab_staff.last_name %>, <%= @experiment.lab_staff.first_name %></h4>

<h3>Procedures: <span><%= link_to '+ add new procedure', new_experiment_procedure_path(@experiment) %></span></h3>
<ol>
  <% @experiment.procedures.each do |procedure| %>
    <li>
      <%= procedure.steps %>
      <%= form_for procedure, url: {action: "update"} do |f| %>
      <label><%= f.check_box :is_completed %>Completed</label><br><br>
      <% end %>
    </li>
  <% end %>
</ol>

<h3>Results:</h3>
<p><%= @experiment.results %></p>

<h3>Conclusion:</h3>
<p><%= @experiment.conclusion %></p>

<h3>Observations: <span><%= link_to '+ add new observation', new_experiment_observation_path(@experiment) %>
  <%=  %>
</span></h3>
<ol>
  <% @experiment.observations.each do |observation| %>
    <li>
      <%= observation.notes %>
    </li>
  <% end %>
</ol>

<h3>Comments: <span><%= link_to '+ add new comment', new_experiment_comment_path(@experiment) %></span></h3>
<ul>
  <% @experiment.comments.each do |comment| %>
    <li>
      <%= comment.body %>
    </li>
  <% end %>
</ul>